<nav class="navbar">
    <div class="navbar-brand">
      <a href="/">Recipe Sharing App</a>
    </div>
    <ul class="navbar-links">
      <% if (activeLink === 'recipes') { %>
      <li>
        <a class="navbar-button" href="/recipes/new">Create Recipe</a>
      </li>
      <% } else if (activeLink === 'reviews') {%>
      <li>
        <a class="navbar-button" href="/recipes/<%= recipe._id %>">Return to <%= recipe.recipeName %></a>
      </li>
      <% } else if (activeLink === 'reviewsnew') {%>
        <li>
          <a class="navbar-button" href="/recipes/<%= recipe._id %>/reviews ">Return to <%= recipe.recipeName %> reviews</a>
        </li>
      <% } else if (activeLink === 'reviewsedit') {%>
        <li>
          <a class="navbar-button" href="/recipes/<%= recipe._id %>/reviews">Return to <%= recipe.recipeName %> reviews</a>
        </li>
      <% } else if (activeLink === 'questions') {%>
        <li>
          <a class="navbar-button" href="/recipes/<%= recipe._id %>">Return to <%= recipe.recipeName %></a>
        </li>
      <% } else if (activeLink === 'answers') {%>
        <li>
          <a class="navbar-button" href="/recipes/<%= recipe._id %>/questions">Return to <%= recipe.recipeName %> questions</a>
        </li>
      <% } else if (activeLink === 'questionsshow') {%>
        <li>
          <a class="navbar-button" href="/recipes/<%= recipe._id %>/questions">Return to <%= recipe.recipeName %> questions</a>
        </li>
      <% } else if (activeLink === 'questionsnew') {%>
        <li>
          <a class="navbar-button" href="/recipes/<%= recipe._id %>/questions">Return to <%= recipe.recipeName %> questions</a>
        </li>
      <% } else if (activeLink === 'questionsedit') {%>
        <li>
          <a class="navbar-button" href="/recipes/<%= recipe._id %>/questions">Return to <%= recipe.recipeName %> questions</a>
        </li>
      <% } else { %>
        <li>
          <a class="navbar-button" href="/recipes">Return Home</a>
        </li>
      <% } %>
      <% if (user) { %>
        <li>
          <form action="/logout" method="POST">
            <button class="navbar-button" type="submit">Logout</button>
          </form>
        </li>
      <% } else { %>
        <li>
          <a class="navbar-button" href="/auth/google">Log In</a>
        </li>
      <% } %>
    </ul>
</nav>